.popup {
 padding-bottom: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 position: fixed;
 width: 100%;
 max-width: 100vw;
 padding-left: 0;
 padding-right: 0;
 height: 100dvh;
 z-index: 100;
 background: rgba(0, 0, 0, 0.308);
 &__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
  max-width: 1180px;
  width: 100%;
  height: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
   width: 8px;
  }

  &::-webkit-scrollbar-thumb {
   background-color: rgb(255, 61, 0);
   border-radius: 20px;
  }

  @supports (-moz-appearance: none) {
   scrollbar-color: #d4d3d399 transparent;
   scrollbar-width: thin;
  }
 }
 &__form {
  width: 100%;
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
 }
 &__form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 390px;
  width: 100%;
 }
 &__form-title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
 }
 &__form-title span {
  color: rgba(255, 61, 0, 1);
 }
 &__input-name {
  font-size: 14px;
  line-height: 15.4px;
  color: rgba(144, 144, 144, 1);
 }
 &__form-button {
  padding: 20px;
  width: 100%;
  color: white;
  font-size: 18px;
  line-height: 19.8px;
  font-weight: 400;
  margin-bottom: 10px;
 }
 &__disclamer {
  text-align: center;
  font-size: 14px;
  line-height: 15.4px;
  font-weight: 400;
  color: rgba(144, 144, 144, 1);
 }
 &__close {
  min-width: 30px;
  min-height: 30px;
  align-self: flex-end;
  cursor: pointer;
 }
}
