.product {
 display: flex;
 justify-content: center;
 align-items: center;
 position: fixed;
 width: 100%;
 max-width: 100vw;
 padding-left: 0;
 padding-right: 0;
 height: 100dvh;
 z-index: 100;
 background: rgba(0, 0, 0, 0.308);
 &__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  max-width: 1180px;
  width: 100%;
  height: 100%;
  justify-content: center;
  &::-webkit-scrollbar {
   width: 8px;
  }

  &::-webkit-scrollbar-thumb {
   background-color: rgb(255, 61, 0);
   border-radius: 20px;
  }

  @supports (-moz-appearance: none) {
   scrollbar-color: #d4d3d399 transparent;
   scrollbar-width: thin;
  }
 }
 &__card {
  position: relative;
  padding: 20px;
  background: white;
  max-width: 1180px;
  width: 100%;
  border-radius: 5px;
 }
 &__card-info {
  width: 100%;
 }
 &__card-close {
  min-width: 30px;
  min-height: 30px;
  align-self: flex-end;
  cursor: pointer;
 }
 &__card-header {
  display: flex;
  margin-bottom: 20px;
 }
 &__next-variant {
  position: relative;
 }
 &__next-variant-icon {
  max-width: 30px;
  height: auto;
  width: 100%;
  cursor: pointer;
 }
 &__next-variant:hover &__next-variant-info {
  visibility: visible;
  opacity: 75%;
  transition: 0.3s;
 }
 &__next-variant-info {
  position: absolute;
  display: flex;
  width: 285px;
  right: 10%;
  bottom: 100%;
  color: white;
  background: #ff3d00;
  border-radius: 5px;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 15px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
 }
 &__next-variant-info-icon {
  padding-top: 5px;
  max-width: 20px;
  width: 100%;
  height: 20px;
 }
 &__next-variant-info-texts {
  max-width: 230px;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: fit-content;
 }
 &__next-variant-info-text {
  font-size: 16px;
  line-height: 110%;
 }
 &__next-variant-info-text:nth-child(1) {
  height: 40px;
 }
 &__next-variant-info-text:nth-child(2) {
  font-size: 12px;
  line-height: 13.2px;
 }
 &__card-variants {
  display: flex;
  width: 100%;
  column-gap: 10px;
 }
 &__card-variant {
  max-width: 150px;
  width: 100%;
  padding: 8.5px 0;
  opacity: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
 }
 &__card-variant.active {
  transition: 0.3s;
  opacity: 1;
 }
 &__card-variant-value {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 17.6px;
 }
 &__card-variant-name {
  font-size: 14px;
  line-height: 15.4px;
  color: rgba(255, 255, 255, 1);
  opacity: 50%;
 }
 &__card-img {
  background: rgba(240, 240, 240, 1);
  max-width: 470px;
  height: 470px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  position: relative;
 }
 &__card-wrapper {
  display: flex;
  column-gap: 20px;
 }
 &__card-info-texts {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
 }
 &__card-title {
  color: rgba(144, 144, 144, 1);
  font-size: 14px;
  line-height: 15.4px;
  margin-bottom: 5px;
 }
 &__name {
  font-size: 18px;
  line-height: 110%;
  color: rgba(16, 16, 16, 1);
  font-weight: 400;
  max-width: 650px;
  width: 100%;
  text-wrap: pretty;
 }
 &__description {
  font-size: 16px;
  line-height: 110%;
  color: #505050;
  font-weight: 400;
 }
 &__options {
  display: flex;
  column-gap: 5px;
  margin-bottom: 10px;
 }
 &__options:nth-last-child(1) {
  margin-bottom: 15px;
 }
 &__option {
  border-radius: 5px;
  display: flex;
  font-size: 14px;
  line-height: 110%;
  align-items: center;
  justify-content: center;
  max-width: 130px;
  height: 48px;
  background: rgba(245, 245, 245, 1);
 }
 &__option:nth-child(1) {
  color: rgba(144, 144, 144, 1);
  max-width: 45px;
  width: 100%;
 }
 &__option:nth-child(2) {
  max-width: 60px;
  width: 100%;
 }
 &__option:nth-child(3) {
  max-width: 60px;
  width: 100%;
  background: rgba(255, 236, 229, 1);
 }
 &__option:nth-child(4) {
  max-width: 60px;
  width: 100%;
 }
 &__option:nth-child(5) {
  max-width: 80px;
  width: 100%;
 }
 &__option:nth-child(6) {
  max-width: 130px;
  width: 100%;
 }
 &__option:nth-child(7) {
  max-width: 130px;
  width: 100%;
  text-wrap: nowrap;
 }

 &__options:nth-child(2n - 3) &__option:nth-child(1) {
  background: rgba(245, 245, 245, 0.5);
 }
 &__options:nth-child(2n - 3) &__option:nth-child(2) {
  background: rgba(245, 245, 245, 0.5);
 }
 &__options:nth-child(2n - 3) &__option:nth-child(3) {
  background: rgba(255, 236, 229, 0.5);
 }
 &__options:nth-child(2n - 3) &__option:nth-child(4) {
  background: rgba(245, 245, 245, 0.5);
 }
 &__options:nth-child(2n - 3) &__option:nth-child(5) {
  background: rgba(245, 245, 245, 0.5);
 }
 &__options:nth-child(2n - 3) &__option:nth-child(6) {
  background: rgba(245, 245, 245, 0.5);
 }
 &__options:nth-child(2n - 3) &__option:nth-child(7) {
  background: rgba(245, 245, 245, 0.5);
 }
 &__add {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50px;
  width: 100%;
  background: rgba(255, 61, 0, 1);
  border-radius: 5px;
  cursor: pointer;
 }
 &__add-icon {
  max-width: 15px;
  width: 100%;
  max-height: 15px;
  height: 100%;
 }
 &__disclaimer {
  font-size: 14px;
  line-height: 15.4px;
  color: rgba(144, 144, 144, 1);
 }
 &__sticker {
  max-width: 325px;
  width: 100%;
  background: rgba(255, 61, 0, 1);
  font-size: 14px;
  line-height: 15.4px;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  padding: 7.5px;
  border-radius: 5px;
 }
 &__img-sticker {
  width: fit-content;
  padding: 10px;
  background: rgba(16, 16, 16, 0.25);
  font-size: 14px;
  line-height: 15.4px;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
 }
 &__img-stickers {
  display: none;
  position: absolute;
  bottom: 2%;
 }
 &__card-button {
  display: none;
 }
 @media screen and (max-width: 1150px) {
  height: 100%;
  padding: 15px;
  overflow: auto;
  top: 0%;
  &__wrapper {
   justify-content: normal;
  }
  &__card {
   height: fit-content;
   overflow: auto;
  }
  &__next-variant {
   display: none;
  }
  &__card-img {
   max-width: 100%;
  }
  &__card-wrapper {
   flex-direction: column;
   row-gap: 15px;
  }
  &__card-options {
   display: none;
  }
  &__card-variant-value {
   font-size: 14px;
   line-height: 15.4px;
  }
  &__card-variant-name {
   font-size: 12px;
   line-height: 13.2px;
  }
  &__card-title {
   display: none;
  }
  &__img-stickers {
   left: 10px;
   display: flex;
   row-gap: 5px;
   flex-direction: column;
  }
  &__card-info-texts {
   row-gap: 5px;
   margin-bottom: 0;
  }
  &__disclaimer {
   display: none;
  }
  &__card-info {
   display: flex;
   flex-direction: column;
   row-gap: 15px;
  }
  &__card-info-description:nth-child(2) &__name {
   font-size: 14px;
   line-height: 15.4px;
   color: rgba(144, 144, 144, 1);
   font-weight: 400;
  }
  &__card-button {
   background: rgba(255, 61, 0, 1);
   font-size: 16px;
   line-height: 17.6px;
   display: flex;
   justify-content: center;
   color: white;
   padding: 21px;
  }
 }
}
