section {
 padding-bottom: 109px;
 max-width: 1280px;
 width: 100%;
 padding-left: 50px;
 padding-right: 50px;
 @media screen and (max-width: 576px) {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 390px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
 }
}
@import './intro';
@import './catalog';
@import './product';
@import './presentation';
@import './consultation';
@import './information';
@import './faq';
@import './nuances';
@import './popup';
@import './contacts';
