section {
 padding-bottom: 100px;
 max-width: 1180px;
 width: 100%;
 padding-left: 20px;
 padding-right: 20px;
}
@import './intro';
@import './catalog';
@import './product';
@import './presentation';
@import './consultation';
@import './information';
@import './faq';
@import './nuances';
@import './popup';
@import './contacts';
